// Primary Color
$soft-blue:hsl(231, 69%, 60%);
$soft-red:hsl(0, 94%, 66%);

// Neutral Color
$grayish-blue:hsl(229,8%,60%);
$very-dark-blue:hsl(229, 31%, 21%);
$white: #fff;
$very-soft-blue:rgba(37,43,70,0.9);

// Button Width
$xs-btn-width:110px;
$md-btn-width:160px;
$lg-btn-width:230px;

// Button Height
$xs-btn-height:40px;
$md-btn-height:45px;
$lg-btn-height:50px;



